/* estilos globales */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Quattrocento Sans', sans-serif;
    line-height: 1,1;
}

.padding-contenido{
    padding: 0 100px;
}

h1{
    color: #C94F3A;
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    line-height: 60px;
    letter-spacing: 2px;
    
}
h2{
    color: #C94F3A;
    font-size: 46px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}
.h4, h4{
    padding-top: 70px;
    color: #191a17;
    /* color: #7A736D; */
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}
.paragraph{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    padding-left: 0; 

}

section p, h3{
    color: #7A736D;
}

.btn-principal{
    background: #C94F3A;
    color: white;
    font-size: 0.8em;
    padding: 8px 15px;

}

/* paleta de colores */
.orange{
    color:#C94F3A;
}

.gray{
    color:#7A736D;
}

.white{
    color: #FFFFFF;
}

.black{
    color: #000000;
}
.white2{
    color: #faebd7;
}



/* estilos de home */
.hero-bkg-animated {
    background: gray url("https://www.toptal.com/designers/subtlepatterns/patterns/gplaypattern.png") repeat 0 0;
    /* "https://www.toptal.com/designers/subtlepatterns/patterns/qbkls.png" */
    /* "https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex-dark.png" */
    width: 100%;
    margin: 0;
    min-height: 100vh;
    padding-top: 100px;
    -webkit-animation: slide 10s linear infinite;
  }
  
  @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }
  }


/*---Estilos seccion acerca de mi---*/
#acercaDeMi{
    min-height: 100vh;
    background-color: #000000;
    
}
       
.group-icons{
    padding-left: 80px;
}

.iconSkills{
    color: #faebd7;
    font-size: 70px;
    padding: 30px;
}
.vibrate-1 {
	-webkit-animation: vibrate-1 3s linear infinite both;
	        animation: vibrate-1 3s linear infinite both;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


/*---Estilos del menú lateral---*/
.sidebar-navigation {
    padding-top: 10%;
	min-height: 100vh;
    background-color:#000000; 
    
}
	
li {
padding: 28px 0;
cursor: pointer;
transition: all ease-out 120ms;

}
.iconNav {
font-size: 26px;
color: #7A736D;
}

.iconNav:hover{   
    color: #C94F3A;
    transition: all ease 450ms;
}

/*---Estilos de mi portafolio*/

#portfolio{
    min-height: 100vh;
}

.box {
    margin-left: 6%;   
    height: 400px;
    background: #000;
    box-shadow: 0 30px 30px rgba(0,0,0,.5);    
}

.box .imgBx {
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    
}

.box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.box:hover .imgBx img {
    opacity:0;
}

.box .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}
.box:hover .content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.box .content p {
    transition: 0.5s;
    text-align: justify;
}

.box:hover .content p {
    opacity: 1;
    transition-delay: 3s;
}



/* viejo portafolio */

#home a{
    text-decoration: none;
    color: #C94F3A;
}
#home a:hover{
    text-decoration: none;
    color:#191a17;
}


.btn-cards{
    background: #C94F3A;
    color: white;
    font-size: 0.8em;
    padding: 8px 15px;
}
.byn{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.byn:hover{
    filter:none;
    box-shadow: 2px 2px 10px #666;
}

/*Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .card-columns {column-count: 4;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 .card-columns {column-count: 4;}
} 

/* estilos de sección contacto */

#contact{
    min-height: 100vh;
    background-color: #000000;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px;
}

.mail:hover{
    text-decoration: none;
    color: #C94F3A;
}

#contact i{
    font-size: 20px;
    padding: 0 10px;
}

#contact i:first-child{
    padding-left: 0px;
}



.contenedor{
    color:#09f;
    font-size:40px;
    font-family: verdana;
}
